:root {
  --blue: #0557bc;
  --sectionH: 51rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 20px;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Hero Section Start */
.hero {
  background-color: var(--blue);
  height: var(--sectionH);
  color: white;
  padding: 20px 0;
}

.hero::before {
  content: "";
  width: 73%;
  height: 51rem;
  background-color: #1562c1;
  position: absolute;
  top: 0;
  left: -9rem;
  border-top-right-radius: 66%;
  border-top-left-radius: 66%;
}

.hero header {
  position: relative;
  z-index: 2;
}

.hero header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero header .left {
  display: flex;
  align-items: center;
}

.hero header .left img {
  width: 50px;
}

.hero header .left span.logo {
  font-size: 30px;
  font-weight: 700;
}

.hero header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: white;
  flex-wrap: wrap;
}

.hero header ul span {
  height: 100%;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
  transition: color , border .2s;
}

.hero header ul span:hover {
  color: white;
  border: 2px solid white;
}

.hero header ul span:active {
  background-color: white;
  color: var(--blue);
}

#menu {
  display: none;
  margin-left: auto;
  font-size: 26px;
  color: var(--blue);
  background-color: white;
  padding: 8px;
  border-radius: 2px;
  transform: translate(0, 0);
}

@media (max-width: 991px) {
  .hero header ul span {
    height: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 14px 0;
    font-weight: 600;
    transition: color , background-color .2s;
    border-bottom: 1px solid #00000014;
    color: black;
  }
  .hero header ul span:hover,
  .hero header ul span:active  {
    color: var(--blue);
    background-color: azure;
  }
  .hero header ul {
    position: absolute;
    left: 0;
    top: 4rem;
    flex-direction: column;
    list-style: none;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(11, 19, 65);
    z-index: 2;
    background-color: #f1f3f4;
    gap: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .1s;
  }
  .hero header ul li:first-of-type {
    display: none;
  }
  #menu {
    display: initial;

  }
}

/* Test */

.hero header .on {
  transform: scaleY(1);
}


.hero header nav button {
  background: transparent;
  color: white;
  width: 12rem;
  height: 50px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  border-radius: 2px;
  transition: color , background-color .5s;
}

.hero header nav button:hover {
  background-color: white;
  color: var(--blue);
}

main {
  padding-top: 10rem;
  position: relative;
}

@media (max-width: 1200px) {
  main {
    padding-top: 50px;
  }
}

main .container {
  display: flex;
  text-align: end;
  gap: 60px;
}

main .left {
  flex: 1;
}

main .left img {
  height: 42rem;
  max-width: 100%;
  border-radius: 5px;
}

main .right {
  padding-top: 30px;
  flex: 1;
}

main .right p {
  color: #ffffffe3;
  margin: 30px 0;
}

main .right button {
  background: transparent;
  color: white;
  width: 14rem;
  height: 50px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  border-radius: 5px;
  transition: color , background-color .5s;
}

main .right button:hover {
  background-color: white;
  color: var(--blue);
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }
  main .container {
    flex-direction: column;
  }
  main .left {
    order: 2;
  }
  .hero::before {
    display: none;
  }
}

/* Hero Section End */

/* About Section Start */
.about {
  height: var(--sectionH);
  color: black;
  padding: 60px 0;
}

.about .container {
  display: flex;
  gap: 25px;
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .about {
    height: initial;
  }
  .about .container {
    flex-direction: column;
    margin-top: 0;
  }
  .about .left {
    order: 1;
  }
  .about .left p {
    font-size: 15px;
  }
}

.about .left {
  flex: 1;
  flex-basis: 50%;
  text-align: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about .left span {
  font-weight: 800;
  color: rgb(5, 87, 188);
}

.about .left h2 {
  font-size: 1.9em;
  margin: 12px 0;
  color: rgb(11, 19, 65);
}

.about .left p {
  color: rgb(11, 19, 65);
}

.about .left a {
  align-self: end;
  margin-top: 30px;
} 

.about .left button {
  background-color: var(--blue);
  color: white;
  width: 12rem;
  height: 60px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  transition: color , background-color , border .5s;
  font-family: inherit;
  font-weight: bold;
}

.about .left button:hover {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}

.about .right {
  flex: 1;
  flex-basis: 50%;
}




.about .right img {
  width: 100%;
}

/* About Section End */

/* Services Section Start */
div#services {
  padding: 5rem 0;
  text-align: center;
  background-color: #f1f3f4;
}

.services span {
  font-weight: 800;
  color: rgb(5, 87, 188);
  display: block;
}

.services h2 {
  font-size: 1.9em;
  margin: 10px 0 40px;
  color: rgb(11, 19, 65);
}

.services .cards {
  display: flex;
  gap: 22px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .services .cards {
    flex-direction: column;
  }
}

.services .cards .card {
  padding: 26px;
  background-color: white;
  flex: 1;
  text-align: end;
}

.services .card img {
  width: 100%;
  height: 11rem;
}

.services h4 {
  margin: 5px 0;
  font-size: 20px;
}

.services .card p {
  font-size: 17px;
  text-align: end;
}

.services button {
  background-color: var(--blue);
  color: white;
  width: 12rem;
  height: 60px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  transition: color, background-color, border .5s;
  font-family: inherit;
  font-weight: bold;
}

.services button:hover {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}

/* Services Section End */

/* Location Section Start */
.location {
  padding: 5rem 0;
  text-align: center;
}

.location span {
  font-weight: 800;
  color: rgb(5, 87, 188);
  display: block;
}

.location h2 {
  font-size: 1.9em;
  margin: 10px 0 40px;
  color: rgb(11, 19, 65);
}

.location .box {
  display: flex;
  background-color: #f2f6fb;
}

@media (max-width: 991px) {
  .location .box {
    flex-direction: column;
  }
}

.location .left {
  flex: 1;
  flex-basis: 40%;
  flex-grow: 0;
}

.location .left img {
  max-width: 100%;
}

.location .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 21px;
}

.location .line {
  display: flex;
  justify-content: end;
  font-size: 2rem;
  align-items: baseline;
  gap: 6px;
}
/* Location Section End */

/* Footer Start */
footer p {
  display: flex;
  background-color: var(--blue);
  color: white;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-size: 18px;
}

footer p * {
  margin: 0 3px;
}

footer p a {
  text-decoration: underline;
}
/* Footer End */