:root {
  --blue: #0557bc
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 20px;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Hero Section Start */
.hero {
  background-color: var(--blue);
  height: 51rem;
  color: white;
  padding: 20px 0;
}

.hero::before {
  content: "";
  width: 73%;
  height: 51rem;
  background-color: #1562c1;
  position: absolute;
  top: 0;
  left: -9rem;
  border-top-right-radius: 66%;
  border-top-left-radius: 66%;
}

.hero header {
  position: relative;
  z-index: 2;
}

.hero header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero header .left {
  display: flex;
  align-items: center;
}

.hero header .left img {
  width: 50px;
}

.hero header .left span.logo {
  font-size: 30px;
  font-weight: 700;
}

.hero header nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  color: #ffffffe3;
  flex-wrap: wrap;
}

.hero header nav button {
  background: transparent;
  color: white;
  width: 12rem;
  height: 50px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  border-radius: 2px;
  transition: .5s;
}

.hero header nav button:hover {
  background-color: white;
  color: var(--blue);
}

main {
  padding-top: 10rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 1200px) {
  main {
    padding-top: 50px;
  }
}

main .container {
  display: flex;
  text-align: end;
  gap: 60px;
}

main .left {
  flex: 1;
}

main .left img {
  width: 100%;
  height: 42rem;
  border-radius: 5px;
}

main .right {
  padding-top: 30px;
  flex: 1;
}

main .right p {
  color: #ffffffe3;
  margin: 30px 0;
}

main .right button {
  background: transparent;
  color: white;
  width: 14rem;
  height: 50px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  border-radius: 2px;
  transition: .5s;
}

main .right button:hover {
  background-color: white;
  color: var(--blue);
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }
  main .container {
    flex-direction: column;
  }
  main .left {
    order: 2;
  }
  .hero::before {
    display: none;
  }
}

/* Hero Section End */